{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="curr-user">{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>
    
    <div id="emails-view">
        <div id="emails-view-title"></div>
        <div id="mails"></div>
    </div>
    
    <div id="email-view">
        <div id="email-details"></div>
        <div>
            <span class="bold">From: </span><span id="email-view-from"></span> 
        </div>
        <div>
            <span class="bold">To: </span><span id="email-view-to"></span> 
        </div>
        <div>
            <span class="bold">Subject: </span><span id="email-view-subject"></span> 
        </div>
        <div>
            <span class="bold">Timestamp: </span><span id="email-view-timestamp"></span> 
        </div>
        <hr>
        <div class="e-view-body">
            <span id="email-view-body"></span> 
        </div>
        <hr>
        <input type="submit" class="btn btn-sm btn-primary" id="reply" value="Reply" />
        <input type="submit" class="btn btn-sm btn-primary" id="unread" value="Mark As Unread" />
        <input type="submit" class="btn btn-sm btn-primary" id="archive" value="Archive Message" />
        
        
    </div>
    

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary" id="send"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}