nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
.quote_symbol
{
    font-weight: bold;
}
.quote_name
{
    font-weight: bold;
}
.form-group
{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#symbol2
{
    display: none;
}
#price2
{
 display: none;
}
.table_index
{
    border-top: 2px solid #b1b1b1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th
{
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid #b1b1b1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.test
{
    display: none;
}
.balance
{
    font-weight: bold;
}

.total
{
    font-weight: bold;
    border-bottom: none;
    border-top: 2px solid #b1b1b1;
    background-color: white;
}
h1
{
    font-size: 1.5rem;
}
.totalcost
{
    display: inline-flex;
    margin-right: 0.5rem;
}
.totalprice
{
    display: inline-flex;
}
.buy-button
{
    display: block;
    margin-top: 0.5rem;
}