{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h1>Transaction History</h1>
<table class="table_index table-striped">
    <thead>
        <tr>
            <th scope="col">Action</th>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Transaction Value</th>
            <th scope="col">Date/Time</th>
        </tr>
    </thead>
    <tbody>
        {% for row in portfolio %}
            <tr>
                <td>{{ row['action'] }}</td>
                <td>{{ row['symbol'] }}</td>
                <td>{{ row['shares'] }}</td>
                <td>{{ row['price'] | usd }}</td>
                <td>{{ row['trans_amount'] | usd }}</td>
                <td>{{ row['date_time'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
